<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          EDM Properties
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group">
          <label>Is this <b>responsive</b> EDM?</label>
          <input type="checkbox" data-ng-model="edm.properties.isResponsive">
        </div>
        <div class="form-group">
          <label>EDM Page Title</label>
          <input type="text" class="form-control" required data-ng-model="edm.properties.pageTitle">
        </div>
        <div class="form-group">
          <label>EDM Page Background</label>
          <input type="text" class="form-control" colorpicker required data-ng-model="edm.properties.pageBackground">
        </div>
        <div class="form-group">
          <label>EDM Width</label>
          <input type="text" class="form-control" required data-ng-model="edm.properties.width">
        </div>
        <div class="form-group">
          <label>EDM Height</label>
          <input type="text" class="form-control" required data-ng-model="edm.properties.height">
        </div>

        <hr>
        <div class="form-group">
          <label>Present Favicon</label>
          <img ng-attr-src="{{edm.properties.faviconURL}}"  style="max-width: 100px;" alt="No Favicon">
        </div>
        <div class="form-group">
          <label>Change Favicon</label>
          <div class="list-group">
            <p data-ng-click="edm.properties.faviconURL = (i | assetURL)" data-ng-repeat="i in edm.imageAssets | faviconURL" class="list-group-item">
              <img ng-attr-src="{{i | assetURL}}"  style="max-width: 100px;" alt="No Favicon">
            </p>
          </div>
        </div>


        <hr>
        <div class="form-group">
          <label>Border Top</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderTopWidth">px
            <select data-ng-model="edm.components[id].properties.borderTopStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderTopColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Bottom</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderBottomWidth">px
            <select data-ng-model="edm.components[id].properties.borderBottomStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderBottomColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Left</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderLeftWidth">px
            <select data-ng-model="edm.components[id].properties.borderLeftStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderLeftColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Right</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderRightWidth">px
            <select data-ng-model="edm.components[id].properties.borderRightStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderRightColor">
          </div>
        </div>


        <hr>
        <div class="form-group">
          <label>EDM Padding Top(px)</label>
          <input type="number" class="form-control" required data-ng-model="edm.properties.paddingTop">
        </div>
        <div class="form-group">
          <label>EDM Padding Right(px)</label>
          <input type="number" class="form-control" required data-ng-model="edm.properties.paddingRight">
        </div>
        <div class="form-group">
          <label>EDM Padding Bottom(px)</label>
          <input type="number" class="form-control" required data-ng-model="edm.properties.paddingBottom">
        </div>
        <div class="form-group">
          <label>EDM Padding Left(px)</label>
          <input type="number" class="form-control" required data-ng-model="edm.properties.paddingLeft">
        </div>
      </div>
    </div>
  </div>
</div>
