<table border="0" cellpadding="0" cellspacing="0" style="border-top: {{edm.components[id].properties.borderTopWidth}}px {{edm.components[id].properties.borderTopStyle}} {{edm.components[id].properties.borderTopColor}};border-bottom: {{edm.components[id].properties.borderBottomWidth}}px {{edm.components[id].properties.borderBottomStyle}} {{edm.components[id].properties.borderBottomColor}};border-left: {{edm.components[id].properties.borderLeftWidth}}px {{edm.components[id].properties.borderLeftStyle}} {{edm.components[id].properties.borderLeftColor}};border-right: {{edm.components[id].properties.borderRightWidth}}px {{edm.components[id].properties.borderRightStyle}} {{edm.components[id].properties.borderRightColor}};" width="{{edm.properties.width}}" height="{{edm.properties.height}}" align="center">
    <tr>
        <td  ng-transclude style="padding-top: {{edm.properties.paddingTop}}px;padding-right: {{edm.properties.paddingRight}}px;padding-bottom: {{edm.properties.paddingBottom}}px;padding-left: {{edm.properties.paddingLeft}}px;">
        </td>
    </tr>
</table>
