<table border="0" cellpadding="0" cellspacing="0" width="100%" class="edm-component">
  <tr>
    <td valign="top" style="background:{{edm.components[id].properties.backgroundColor}};color:{{edm.components[id].properties.fontColor}};font-size:{{edm.components[id].properties.fontSize}}px;font-family:{{edm.components[id].properties.fontFamily}};padding-top:{{edm.components[id].properties.paddingTop}}px;padding-bottom:{{edm.components[id].properties.paddingBottom}}px;padding-right:{{edm.components[id].properties.paddingRight}}px;padding-left:{{edm.components[id].properties.paddingLeft}}px;">
      {{edm.components[id].properties.content}}
    </td>
  </tr>
</table>
