<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Rich Text {{id}} Properties
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="form-group">
          <label>Content</label>
          <div class="form-group">
            <textarea data-ng-model="edm.components[id].properties.content" rg-edm-rich-text-editor></textarea>
          </div>
        </div>
        <div class="form-group">
          <label>Font Family</label>
          <div class="form-group" data-ng-include="edm.componentFontFamilyOptionsURL">

          </div>
        </div>
        <div class="form-group">
          <label>Font Size(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.fontSize">
          </div>
        </div>
        <div class="form-group">
          <label>Font Color</label>
          <div class="form-group">
            <input type="text" colorpicker class="form-control" data-ng-model="edm.components[id].properties.fontColor">
          </div>
        </div>
        <div class="form-group">
          <label>Background Color</label>
          <div class="form-group">
            <input type="text" colorpicker class="form-control" data-ng-model="edm.components[id].properties.backgroundColor">
          </div>
        </div>
        <div class="form-group">
          <label>Text Align</label>
          <div class="form-group">
            <select class="form-control" data-ng-model="edm.components[id].properties.textAlign">
              <option></option>
              <option data-ng-repeat='t in ["left", "right", "center"]' value="{{t}}">{{t}}</option>
            </select>
          </div>
        </div>

        <hr>
        <div class="form-group">
          <label>Border Top</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderTopWidth">px
            <select data-ng-model="edm.components[id].properties.borderTopStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderTopColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Bottom</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderBottomWidth">px
            <select data-ng-model="edm.components[id].properties.borderBottomStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderBottomColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Left</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderLeftWidth">px
            <select data-ng-model="edm.components[id].properties.borderLeftStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderLeftColor">
          </div>
        </div>
        <div class="form-group">
          <label>Border Right</label>
          <div class="form-group">
            <input type="number" data-ng-model="edm.components[id].properties.borderRightWidth">px
            <select data-ng-model="edm.components[id].properties.borderRightStyle">
              <option></option>
              <option data-ng-repeat='s in ["solid", "dashed", "dotted"]' value="{{s}}">{{s}}</option>
            </select>
            <input type="text" colorpicker data-ng-model="edm.components[id].properties.borderRightColor">
          </div>
        </div>

        <hr>
        <div class="form-group">
          <label>Padding Top(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingTop">
          </div>
        </div>
        <div class="form-group">
          <label>Padding Bottom(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingBottom">
          </div>
        </div>
        <div class="form-group">
          <label>Padding Left(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingLeft">
          </div>
        </div>
        <div class="form-group">
          <label>Padding Right(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingRight">
          </div>
        </div>

        <hr>
        <div class="form-group">
          <label>Margin Top(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginTop" data-ng-pattern="/^[0-9]{1,7}$/">
          </div>
        </div>
        <div class="form-group">
          <label>Margin Bottom(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginBottom">
          </div>
        </div>
        <div class="form-group">
          <label>Margin Left(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginLeft">
          </div>
        </div>
        <div class="form-group">
          <label>Margin Right(px)</label>
          <div class="form-group">
            <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginRight">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Other
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body" data-ng-include="edm.componentDefaultsURL">

      </div>
    </div>
  </div>
</div>
