// Glyphicon font Path //

$icon-font-path: '/assets/fonts/bootstrap/';

// Colors //

$brand-primary:         darken(#428bca, 6.5%);

// Fonts //

$font-family-sans-serif:            sans-serif;
$font-family-serif:                 serif;
