@charset "utf-8";

// base
@import "core/settings";        // color + font variables
@import "core/fonts";           // fonts

// third party components
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"; // bootstrap

$fa-font-path:"/fonts";
@import "node_modules/font-awesome/scss/font-awesome"; // font-awesome

textarea {
  min-width: 100%;
  max-width: 100%;
}

.yErrMsg, .error_msg {
  color: red;
}


$edm-component-active-color: #1800ff;
$edm-component-border-width: 2px;

// EDIT EDM Container
#edit-edm table {
  border-collapse: separate;
}

#edm-document.edm-component {
  border: $edm-component-border-width dashed #f00;
}
.edm-component {
  border: $edm-component-border-width dashed #fff;
}

#edm-document:hover, .edm-component:hover {
  border: $edm-component-border-width dashed #f00;
}

.edm-component.active, #edm-document.active {
  border: $edm-component-border-width dashed $edm-component-active-color;
}

 .floating-section {
   position: fixed;
   max-height: 90%;
   overflow-y: auto;
   overflow-x: hidden;
 }
 #edm-properties {
   right: 0;
 }
 #edm-components {
   left: 0;
   z-index: 1001;
 }

 /*-------------------
 => Layout Changes
 ---------------------*/
html, body {
  height: 100%;
}
#edit-edm {
  height: 100%;

}
#edit-edm .navbar {
  position: fixed;
  width: 100%;
}
#edm-workspace {
  padding-top: 70px;
}
#edm-builder #edm-document {
  max-height: 550px;
  overflow: auto;
}
#edm-properties .panel-body {
  max-height: 600px;
  overflow: auto;
}
 //---------------------
