<table border="0" cellpadding="0" cellspacing="0" width="100%" class="edm-component">
  <tr>
    <td data-ng-if="edm.components[id].properties.marginLeft > 0" width="{{edm.components[id].properties.marginLeft}}" valign="top"></td>
    <td valign="top">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr data-ng-if="edm.components[id].properties.marginTop > 0">
          <td height="{{edm.components[id].properties.marginTop}}" valign="top"></td>
        </tr>

        <!-- Content -->
        <tr>
    <td valign="top" style="background:{{edm.components[id].properties.backgroundColor}};color:{{edm.components[id].properties.fontColor}};font-size:{{edm.components[id].properties.fontSize}}px;font-family:{{edm.components[id].properties.fontFamily}};padding-top:{{edm.components[id].properties.paddingTop}}px;padding-bottom:{{edm.components[id].properties.paddingBottom}}px;padding-right:{{edm.components[id].properties.paddingRight}}px;padding-left:{{edm.components[id].properties.paddingLeft}}px;">

      <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tbody>
              <tr>
                  <td data-ng-if="!edm.components[id].imgProperties[0].haveLink" valign="top" width="{{edm.components[id].imgProperties[0].width + 20}}" align="left">
                    <img alt="{{edm.components[id].imgProperties[0].alt}}" title="{{edm.components[id].imgProperties[0].title}}" src="{{edm.components[id].imgProperties[0].src}}" width="{{edm.components[id].imgProperties[0].width}}" style="border:0;display:block;" />
                  </td>

                  <td data-ng-if="edm.components[id].imgProperties[0].haveLink" valign="top" width="{{edm.components[id].imgProperties[0].width + 20}}" align="left">
                    <a href="{{edm.components[id].imgProperties[0].linkURL}}" target="_blank" title="{{edm.components[id].imgProperties[0].title}}">
                      <img alt="{{edm.components[id].imgProperties[0].alt}}" src="{{edm.components[id].imgProperties[0].src}}" width="{{edm.components[id].imgProperties[0].width}}" style="border:0;display:block;" />
                    </a>
                  </td>

                  <td align="left" valign="top">
                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tbody>
                              <tr>
                                  <td align="left" style="padding-bottom:5px;"><font style="font-size:{{ edm.components[id].properties.headingFontSize }}px; font-family:{{ edm.components[id].properties.headingFontFamily }}; color:{{ edm.components[id].properties.headingFontColor }};"  data-ng-bind-html="edm.components[id].properties.heading | trustAsHtml"></font>
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                          <tbody>
                                              <tr data-ng-repeat="b in edm.components[id].bulletProperties">
                                                  <td align="left" valign="top" width="15"><font style="font-size:{{ b.fontSize }}px; font-family:{{ b.fontFamily }}; color:{{ b.fontColor }};">•</font>
                                                  </td>
                                                  <td align="left" valign="top" style="padding-bottom: 5px;"><font style="font-size:{{ b.fontSize }}px; font-family:{{ b.fontFamily }}; color:{{ b.fontColor }};" data-ng-bind-html="b.content | trustAsHtml"></font>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </td>
              </tr>
          </tbody>
      </table>
    </td>
  </tr>

        <!--// Content -->


        <tr data-ng-if="edm.components[id].properties.marginBottom > 0">
          <td height="{{edm.components[id].properties.marginBottom}}" valign="top"></td>
        </tr>
      </table>
    </td>
    <td data-ng-if="edm.components[id].properties.marginRight > 0" width="{{edm.components[id].properties.marginRight}}" valign="top"></td>
  </tr>
</table>
