<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Image-Bullet {{id}} Properties
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="panel-group" id="collapse1" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading11">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#collapse1" href="#collapse11" aria-expanded="true" aria-controls="collapse11">
                  Common
                </a>
              </h4>
            </div>
            <div id="collapse11" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading11">
              <div class="panel-body">

                <div class="form-group">
                  <label>Background Color</label>
                  <div class="form-group">
                    <input type="text" colorpicker class="form-control" data-ng-model="edm.components[id].properties.backgroundColor">
                  </div>
                </div>

                <div class="form-group">
                  <label>Padding Top(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingTop">
                  </div>
                </div>
                <div class="form-group">
                  <label>Padding Bottom(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingBottom">
                  </div>
                </div>
                <div class="form-group">
                  <label>Padding Left(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingLeft">
                  </div>
                </div>
                <div class="form-group">
                  <label>Padding Right(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.paddingRight">
                  </div>
                </div>


                <hr>
                <div class="form-group">
                  <label>Margin Top(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginTop" data-ng-pattern="/^[0-9]{1,7}$/">
                  </div>
                </div>
                <div class="form-group">
                  <label>Margin Bottom(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginBottom">
                  </div>
                </div>
                <div class="form-group">
                  <label>Margin Left(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginLeft">
                  </div>
                </div>
                <div class="form-group">
                  <label>Margin Right(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.marginRight">
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--// Common Properties -->

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading12">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#collapse1" href="#collapse12" aria-expanded="true" aria-controls="collapse12">
                  Heading
                </a>
              </h4>
            </div>
            <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12">
              <div class="panel-body">

                <div class="form-group">
                  <label>Heading</label>
                  <input type="text" class="form-control" required data-ng-model="edm.components[id].properties.heading" rg-edm-rich-text-editor>
                </div>

                <div class="form-group">
                  <label>Heading Font Family</label>
                  <div class="form-group" data-ng-include="edm.componentFontFamilyOptionsURL">

                  </div>
                </div>

                <div class="form-group">
                  <label>Heading Font Size(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="edm.components[id].properties.headingFontSize">
                  </div>
                </div>

                <div class="form-group">
                  <label>Heading Font Color</label>
                  <div class="form-group">
                    <input type="text" colorpicker class="form-control" data-ng-model="edm.components[id].properties.headingFontColor">
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--// Heading Properties -->

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading13">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#collapse1" href="#collapse13" aria-expanded="true" aria-controls="collapse13">
                  Banner
                </a>
              </h4>
            </div>
            <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading13">
              <div class="panel-body">

                <div class="form-group">
                  <label>Is it have link?</label>
                  <input type="checkbox" class="" data-ng-model="edm.components[id].imgProperties[0].haveLink">
                </div>

                <div data-ng-if="edm.components[id].imgProperties[0].haveLink">
                  <div class="form-group">
                    <label>Link URL</label>
                    <input type="text" class="form-control" required data-ng-model="edm.components[id].imgProperties[0].linkURL">
                  </div>
                  <hr>
                </div>

                <div class="form-group">
                  <label>Image width</label>
                  <input type="number" class="form-control" required data-ng-model="edm.components[id].imgProperties[0].width">
                </div>

                <div class="form-group">
                  <label>Image Alt Value</label>
                  <input type="text" class="form-control" required data-ng-model="edm.components[id].imgProperties[0].alt">
                </div>
                <div class="form-group">
                  <label>Image Title Value</label>
                  <input type="text" class="form-control" required data-ng-model="edm.components[id].imgProperties[0].title">
                </div>
                <div class="form-group">
                  <label>Present Image</label>
                  <img ng-attr-src="{{edm.components[id].imgProperties[0].src}}"  width="100">
                </div>
                <div class="form-group">
                  <label>Change Image</label>
                  <div class="list-group">
                    <p data-ng-click="edm.components[id].imgProperties[0].src = (i | assetURL)" data-ng-repeat="i in edm.imageAssets" class="list-group-item">
                      <img ng-attr-src="{{i | assetURL}}"  width="100">
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <!--// Banner Properties -->


          <hr>


          <div class="panel panel-default" data-ng-repeat="b in edm.components[id].bulletProperties">
            <div class="panel-heading" role="tab" id="heading1{{ $index + 4 }}">
              <h4 class="panel-title clearfix">
                <a role="button" class="pull-left" data-toggle="collapse" data-parent="#collapse1" href="#collapse1{{ $index + 4 }}" aria-expanded="true" aria-controls="collapse1{{ $index + 4 }}">
                  Point {{ $index + 1 }}
                </a>
                <button class="pull-right btn btn-xs btn-danger delete-point" data-id="{{ id }}" data-index="{{ $index }}"><span class="glyphicon glyphicon-trash"></span> Delete</button>
              </h4>
            </div>
            <div id="collapse1{{ $index + 4 }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1{{ $index + 4 }}">
              <div class="panel-body">

                <div class="form-group">
                  <label>Content</label>
                  <div class="form-group">
                    <!-- {{ thisModel =  "edm.components[" + id + "].bulletProperties[" + $index + "].content" }}
                    <textarea data-ng-model="thisModel" rg-edm-rich-text-editor></textarea> -->
                    <!-- <textarea data-ng-model="edm.components[11].bulletProperties[0].content" rg-edm-rich-text-editor></textarea> -->
                    <!-- <textarea data-ng-model="edm.components[id].bulletProperties[$index].content" rg-edm-rich-text-editor></textarea> -->
                    <textarea data-ng-model="b.content" rg-edm-rich-text-editor></textarea>
                    <!-- <textarea data-ng-model="b.content" colorpicker></textarea> -->
                    <!-- <textarea data-ng-model="b.content"></textarea> -->
                  </div>
                </div>
                <div class="form-group">
                  <label>Font Family</label>
                  <div class="form-group" data-ng-include="edm.componentFontFamilyOptionsURL">

                  </div>
                </div>
                <div class="form-group">
                  <label>Font Size(px)</label>
                  <div class="form-group">
                    <input type="number" class="form-control" data-ng-model="b.fontSize">
                  </div>
                </div>
                <div class="form-group">
                  <label>Font Color</label>
                  <div class="form-group">
                    <input type="text" colorpicker class="form-control" data-ng-model="b.fontColor">
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
        <!-- Bullet Properties -->

        <button class="btn btn-block btn-primary add-point" data-id="{{id}}"> <span class="glyphicon glyphicon-plus"></span> Add a Point</button>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          Other
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body" data-ng-include="edm.componentDefaultsURL">

      </div>
    </div>
  </div>
</div>
